*{
    display:flex;
}
div{
    font-size: 3vh;
    font-family:monospace;
    color: #fff;
    border-radius: 30px;
    padding: 200px;
    background-color: #00d4ff;
    margin-top: 50px;
    margin-left: 60vh;
    border: 5px solid #edff1f;
    cursor: pointer;
    transition: all 1.5s ease;
}
div:hover{
    color: black;
    background-color: #edff1f;
    border: 5px solid #00d4ff;
    transition: all 1.5s ease;
}
